* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: black;
}

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

.drag {
  background-color: #f0f0f0bc;
}

.moveTask {
  cursor: pointer;
}

.text-gray {
  color: #c1c1c1;
}

.text-green {
  color: rgb(3, 183, 3);
}
